name: rocketchat-platform

services:

  traefik:
    image: traefik:v2.11
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.file.directory=/certs"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/certs:/certs"
      - "./traefik/dynamic.yaml:/certs/dynamic.yaml"
    networks:
      - botnet

  mongodb:
    image: mongo_backup20.02
    #    image: mongo:8.2
    restart: unless-stopped
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongodb-rocketchat:/data/db
    networks:
      - botnet
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongodb:27017'}]}) }" | mongosh --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  rocketchat:
    platform: linux/amd64
    image: rocketchat/rocket.chat:8.1.0
    restart: unless-stopped
    depends_on:
      mongodb:
        condition: service_healthy
    volumes:
      - "../rocketchat/data/uploads:/app/uploads"
    environment:
      ROOT_URL: "https://quickpick.coach"
      PORT: 3000
      MONGO_URL: mongodb://mongodb:27017/rocketchat?replicaSet=rs0
      MONGO_OPLOG_URL: mongodb://mongodb:27017/local?replicaSet=rs0
      DEPLOY_METHOD: docker
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rocketchat.rule=Host(`quickpick.coach`)"
      - "traefik.http.routers.rocketchat.entrypoints=websecure"
      - "traefik.http.routers.rocketchat.tls=true"
      - "traefik.http.services.rocketchat.loadbalancer.server.port=3000"
    networks:
      - botnet


networks:
  botnet:
    driver: bridge

volumes:
  mongodb-rocketchat:

